
{{> header}}
<div class="container">
    <h1>Create a new movie</h1>
    <form action="/movies" method="POST">
        <label for="title">Title: </label>
        <input id='title' name="title" type='text'>

        <label for="director">Director: </label>
        <input id='director' name="director" type='text'>

        <label for="year">Year: </label>
        <input id='year' name="year" type='number'>

        <label for="my_rating">My Rating: </label>
        <input id='my_rating' name="my_rating" type='number'>

        <label for="poster_url">poster_url: </label>
        <input id='poster_url'name="poster_url"  type='text'>

        <input id='submit' type="submit" value="submit">
    </form>
</div>
